#pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    #pagination-numbers {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    a {
        color: var(--main-color);
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 50px;
        background-color: var(--surface-color);
        transition: background-color 0.3s ease;
        user-select: none;
    }

    a:last-child {
        margin-right: 1rem;
    }

    a:hover:not(.disabled):not(.current):not(.ellipsis) {
        background-color: var(--accent-color);
        color: #fff;
    }

    a.current {
        background-color: var(--accent-color);
        color: #fff;
        pointer-events: none;
    }

    a.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    a.ellipsis {
        background-color: transparent;
        cursor: default;
        pointer-events: none;
    }
}