body {
    color: var(--main-color);
    white-space: normal !important;
    word-break: normal !important;
    overflow-wrap: break-word !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 2rem;
}

.form h3 {
    font-weight: 300;
}

.banner-content_text h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

.card-content_text p {
    font-size: 14px;
}

.faq-text h4 {
    font-size: 1rem !important;
}

@media screen and (max-width: 1200px) {
    .banner-content_text h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 90%;
    }
}