:root {
    --background-color: #1E1B1C;
    --accent-color: #d67959;
    --second-btn-color: #FF8C5A;
    --surface-color: #2D2627;
    --main-color: #ECECEC;
    --alternative-text-color: #1E1B1C;
    --selected: #5b8677;
    --alternative-s-color: #4A3F41;

    /* New variables for hardcoded values */
    --neutral-light: #2D2627;
    --faq-bg: rgba(45, 38, 39, 0.8);
    --contact-decor: #311817;
    --shape-bg: #311817;
    --shape: #311817;
    --white: #ffffff;
    --header-border: #4A3F41;
}

/*
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --main-color: #402729;
        --alternative-text-color: #ffffff;
        --accent-color: #b25531;
        --second-btn-color: #E87743;
        --surface-color: #8C7D7F;
        --alternative-s-color: #ad9f9f;
        --selected: #5b8677;

        --neutral-light: #c9c9c9;
        --faq-bg: rgba(255, 255, 255, 0.7);
        --header-border: #9d8383;
        --shape: #db9c98;
    }
}
*/