---
pagination:
    data: collections.blogPosts
    size: 1
    alias: article
    addAllPagesToCollections: true
permalink: "/blog/{{ article.id }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  seo:
    title: "{{ article.meta.title }}"
    description: "{{ article.meta.description }}"
    canonical: "{{ article.meta.canonical }}"
    og_title: "{{ article.meta['og:title'] }}"
    og_description: "{{ article.meta['og:description'] }}"
    og_image: "{{ article.meta['og:image'] }}"
---

{% set meta = article.meta %}

<section id="article-cover">
    <div class="container">
        <div class="cover">
            <img src="{{ article.image }}" alt="">
            <div class="page-header">
                <h1 class="section-title">{{ article.headerTitle }}</h1>
                <p class="article-meta sub-title">
                    <span>{{ article.date }}</span> •
                    <span>{{ article.readTime }}</span> •
                    <span>{{ article.category }}</span>
                </p>
            </div>
        </div>
    </div>
</section>

{% set navigationBreadcrumb = [
  { title: "Accueil", url: "/" },
  { title: blog.blog.meta.title, url: "/blog/" },
  { title: article.headerTitle }
] %}

{% include "layouts/_breadcrumb.njk" %}

<main id="article-detail">
    <section class="breadcrumb-sub">

        <div class="article-content">
            {{ article.content | markdown | safe }}
        </div>

        <div class="cta">
            <div class="container">
                <div class="cta-content">
                    <h2 class="cta-title">{{ article.cta.title }}</h2>
                    {% if article.cta.description %}
                        <p class="cta-sub-title">{{ article.cta.description }}</p>
                    {% endif %}
                    <a href="{{ article.cta.button.url }}" class="main-btn">{{ article.cta.button.label }}</a>
                </div>
            </div>
        </div>
        
        <aside class="container blog-similar">
            <h3>Articles similaires</h3>
            <ul>
                {% set similar = collections.blogPosts | similarArticles(article) %}
                {% if similar.length > 0 %}
                    {% for sim in similar %}
                        <li>
                            <a href="/blog/{{ sim.id }}/">
                                <img src="{{ sim.image }}" alt="{{ sim.headerTitle }}">
                                <div class="blog-similar_title">
                                    {{ sim.headerTitle }}
                                    <div class="read-time">
                                        <svg viewBox="0 0 71 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                                <g>
                                                    <path d="M0 21.5002C0 21.5002 19.3085 -1.0252e-05 37.0585 0C54.8085 1.0252e-05 71 21.5003 71 21.5003C71 21.5003 54.8085 43 37.0585 43C19.3085 43 0 21.5002 0 21.5002Z"></path>
                                                    <path d="M37.0585 3.66636e-12C19.3085 -1.0252e-05 0 21.5002 0 21.5002C0 21.5002 19.3085 43 37.0585 43C54.8085 43 71 21.5003 71 21.5003C71 21.5003 54.8085 1.0252e-05 37.0585 3.66636e-12ZM64.5493 21.5006Q61.5022 18.0373 57.4253 14.5411Q46.2995 5 37.0585 4.99999Q27.6542 4.99999 14.9057 14.7254Q10.4466 18.1271 6.95188 21.4999Q10.4523 24.8782 14.9112 28.2791Q27.6565 38 37.0585 38Q46.3017 38 57.4303 28.4549Q61.507 24.9583 64.5493 21.5006Z" fill="#D67959" fill-rule="evenodd"></path>
                                                </g>
                                                <g transform="translate(23 7.5)">
                                                    <path d="M0.00219154 14.2443C-0.13278 6.51354 6.02489 0.137108 13.7557 0.00217342C21.4865 -0.13278 27.8629 6.02488 27.9978 13.7557C28.1327 21.4864 21.9751 27.8629 14.2443 27.9978C6.51355 28.1328 0.137127 21.9751 0.00219154 14.2443Z"></path>
                                                    <path d="M13.7557 0.00217676C6.02487 0.137112 -0.132795 6.51354 0.00217628 14.2443C0.137112 21.9751 6.51353 28.1328 14.2443 27.9978C21.9751 27.8629 28.1327 21.4865 27.9978 13.7557C27.8629 6.02488 21.4864 -0.132777 13.7557 0.00217676ZM7.7481 20.474Q5.06647 17.8844 5.00141 14.1571Q4.93634 10.4297 7.52596 7.7481Q10.1156 5.06647 13.8429 5.00141Q17.5702 4.93635 20.2519 7.52597Q22.9335 10.1156 22.9986 13.8429Q23.0636 17.5703 20.474 20.2519Q17.8844 22.9335 14.1571 22.9986Q10.4297 23.0637 7.7481 20.474Z" fill="#D67959" fill-rule="evenodd"></path>
                                                </g>
                                            </g>
                                        </svg>
                                        <span>{{ sim.readTime }}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>Aucun article similaire</li>
                {% endif %}
            </ul>
        </aside>
    </section>
</main>
