// Animation Keyframes
@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// SYSTEME D'ANIMATION GENERIQUE

.reveal {
    opacity: 0;
    will-change: opacity, transform;

    &.animate {
        opacity: 1;

        &.fade-in-left {
            animation: fade-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
        }

        // Placer d'autres animations ici
    }
}