.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 997;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-scroll {
    position: fixed;
    background-color: var(--alternative-text-color);
    border-bottom: 1px solid var(--header-border);
    transition: 1s;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-links {

        display: flex;

        ul {
            display: flex;
            list-style: none;
        }
    }

}


li a {
    padding: 20px 15px;
    color: var(--main-color);

    &:hover {
        color: var(--accent-color);
        outline: none;
    }
}

.nav-toggle {
    display: none;
}

.d-mobile {
    display: none !important;
}

.mobile-menu {
    margin-right: 0 !important;
}

.logo {
    display: block;
    width: 110px;
    height: 50px;
    background-color: var(--main-color);
    mask-image: url("/assets/images/logo-kreasyon.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

@media screen and (max-width: 1300px) {

    .header .logo {
        height: 50.25px;
        width: auto;
        ;
    }

    header .icon-github,
    header .icon-linkedin {
        &::before {
            background-color: var(--alternative-text-color);
        }
    }

    .overlay {
        display: block;
        position: fixed;
        z-index: 3;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
        height: 100vh;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        justify-content: center;
        inset: 90px 20px 20px 20px;
        padding: 10px 0;
        background-color: var(--main-color);
        border-radius: 15px;
        height: 70vh;
        overflow-y: auto;
        margin-right: 150%;

        ul {
            align-items: center;
            flex-direction: column;
            position: absolute;


            li {
                padding: 10px 5px 10px 5px;

                a {
                    color: var(--alternative-text-color);
                }
            }

        }
    }


    .nav-toggle {
        display: flex;
        background-color: var(--alternative-text-color);
        cursor: pointer;
        border-radius: 70%;
        padding: 10px;
    }

    .nav-toggle .icon-burger {
        display: block;
        fill: var(--main-color);
    }

    .nav-toggle .icon-close {
        display: none;
    }

    .header.overlay .nav-toggle .icon-burger {
        display: none;
    }

    .header.overlay .nav-toggle .icon-close {
        display: block;
    }

    .d-desktop {
        display: none !important;
    }

    .d-mobile {
        display: inline-flex !important;
    }

}