* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

button {
    color: unset;
    background-color: unset;
    border: none;

}

span {
    color: unset;
}