<!DOCTYPE html>
<html lang="fr">

{% include "./_head.njk" %}

<body>
    {% include "./_header.njk" %}

    <main>{{ content | safe }}</main>

    {% include "./_footer.njk" %}

    <script src="/assets/js/form.js"></script>
</body>
</html>
