<!DOCTYPE html>
<html lang="fr">

<head>
    {% include "./_head.njk" %}
</head>

<body>
    {% include "./_header.njk" %}

    {{ content | safe }}

    {% include "./_footer.njk" %}

    <script src="/assets/js/form.js"></script>
</body>
</html>
